/* colours  */
:root {
    --black: #010110;
    --blue: rgb(63, 63, 177);
    --pink: rgb(224, 59, 59);
}
body * {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  padding: 16px;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}



@media screen and (max-width:680px) {
  .formitems {
      padding: 2rem;
      margin-top: 20px;
  }

  .codingID p {
      font-size: medium;

  }

  .externalLinks p {
      font-size: medium;
  }

  .byebye {
      width: 200px;
  }
  .BlogContent
  {
      flex-direction: column;
      justify-content: center;
      
      width: 350px;
      padding:5px;
      align-items: center;
  }
  .blogFooter
  {
      flex-wrap: wrap;
      padding: 0px;
      justify-content: center;
      
  }
}

/* Hero Section  */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #52B0AB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    --varln: white;
}

/* profile image */
#profile {
    position: relative;
    width: 100%;
    height: 7.5rem;
    border-radius: 6rem;
    text-align: center;
    margin: auto;
    border: 3px solid #005751;
}
.image {
    width: 7.5rem;
    height: auto;
    margin-top: 1rem;
    display: inline-block;
    margin-left: 2rem;
}
#home {
  padding: 1rem;
} 

/* welcome image */
#welcome {
    margin-top: 30px;
    width: 300px;
    height: 120px;
    filter: invert(1);
}

.designation {
  font-size: large;
  font-weight: 800;
}

/* icons styling */
#insta {
    margin-left: 10px;
    color: black;
}

#facebook {
    position: relative;
    margin-left: 28px;
}

.description a svg {
    fill: var(--varln);
}

.description a img {
    filter: invert(1);
}

/* namaste image  */
#namaste {
    width: 100%;
    height: 300px;
}
/* navigaition */
ul.navigationbar {
  box-shadow: 0px 0px 11px -2px seagreen;
  margin: 0;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding-bottom: 15px;
  z-index: 1;
}
ul li {
  list-style: none;
  text-align: center;
}

.navigationbar li a {
  padding-left: 4px;
  padding-right: 4px;
} 

.navigationbar li {
  width: auto;
  max-width: 227px;
  padding: 0.6rem;
  border-radius: 2rem;
  border: solid 2px #199790;
  background-color: #fff;
  color: #127d78;
  z-index: 1;
}

.navigationbar li:hover a {
  color: #fff;
}

.navigationbar li.navigation_hover:hover {
  background-color: #199790;
  color: white;
}

/* welcome animation box  */
.animationBox {
  width: 50px;
  height: 30px;
  position: relative;
  animation-name: welcome;
  animation-duration: 5s;
  animation-iteration-count: 7;
  animation-timing-function: ease-in-out;
  background-color: rgb(17, 138, 1);
  color: white;
  font-size: small;
  text-align: center;
  padding-top: 10px;
  border-radius: 0.6rem;
  font-weight: bold;
}

@keyframes welcome {
  0% {
      background-color: rgb(105, 32, 173);
      left: 0px;
      top: 0px;
  }
  25% {
      transform: rotate(-30deg);
      background-color: rgb(60, 107, 195);
      left: 41%;
  }

  45% {
      transform: rotate(0deg);
      left: 52%;
  }
  65% {
      transform: rotate(60deg);
      background-color: rgb(104, 33, 171);
      top: 0px;
      left: 90%;
  }
  100% {
      top: 0px;
      left: 0px;
      transform: rotate(-360deg);
  }
}

/* mobile nav  */


@media (max-width: 540px) {
  ul.navigationbar {
      display: none;
  }

  ul.mobilenav {
      position: sticky;
      top: 0;
      display: flex;
      margin: 0;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      background-color: #fff;
      padding: 10px;
      gap: 30px;
      /* border-radius: 1rem; */
      z-index: 1;
      box-shadow: 0px 0px 11px -2px seagreen;
  }

  @keyframes direction {
      0% {
          background-color: brown;
          left: 0%;
          top: 0%;
      }
      25% {
          background-color: blueviolet;
          left: 100%;
          top: 0px
      }
      50% {
          background-color: chartreuse;
          left: 100%;
          top: 210px;
      }
      75% {
          background-color: coral;
          left: 0%;
          top: 210px;
      }

      100% {
          background-color: brown;
          left: 0%;
          top: 0%
      }
  }
}

@media (min-width:440px) {
  .mobilenav {
      display: none;
  }
}

@media (max-width:440px) {
  .mobilenav {
      display: block;
  }

  #HomeNav {
      display: none;
  }
}

/* About section  */
.IntroSection {
  margin: auto;
  text-align: center;
  padding-top: 1rem;
}

.IntroSection h2 {
  text-align: center;
}

/* name  */
#myname {
  color: #f81313;
}
#myname:hover {
  text-decoration: underline;
}
.detailsinfo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.buttons {
  width: 300px;
  height: 100px;
  margin: auto;
  text-align: center;
}
.buttons a {
  text-decoration: none;
  color: white;
}
#mycv {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: #5626C4;
  color: white;
  font-weight: bold;
  border-color: whitesmoke;
}

#mycv:hover {
  background: #7c4ceb;
  box-shadow: 0 0 10px #5429b9;
  ;
}

#resume {
  margin: 1rem;
  background-color: #c00c3c;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 1rem;
  border-color: white;
}
#resume:hover {
  background-color: #e7295c;
  box-shadow: 0 0 10px #c00c3c;
}
.About {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  padding-top: 20px;
}

#imageAbout {
  border-radius: 3rem;
}

.About h2 {
  text-align: center;
}

#abt:hover {
  text-decoration: underline;
}

/* Blog section  */
.Blogheading {
  display: block;
  text-align: center;
}
.blogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:25px;
}
.BlogContent
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 680px;
    background-color: #E5EAF0;
    padding:15px;
    border-radius: 5px;
    gap:5px;
}
.blogFooter
{
    display: flex;
    gap:13px;
    padding-top:40px;
}
.textContent
{
    padding:8px;
}


/* view more button  */
.viewBlogs {
  float: right;
  display: block;
  padding: 5px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 10px;
}
.viewBlogs:hover {
  background-color: #0665e2;
}

/* Skills section  */
.bound {
  color: black;
  text-align: center;
  padding-top:30px;
  font-size: x-large;
}

/* rotator image  */
.skillsRotator
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gear
{
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

 
/* actual skills  */
.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  gap: 20px;
}

.skill {
  width: 50px;
  height: 50px;
}

.php {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
#php {
  position: relative;
  width: 100%;
  height: auto;
}
.jquery {
  width: 40px;
  height: 40px;

}
#jquery {
  position: relative;
  width: 100%;
  height: auto;
}
.hobbies {
  margin: auto;
  display: block;
  text-align: center;
}

.hobbiesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  text-align: center;
}

/* Project Experience  */
#projecticon {
  position: relative;
  display: block;
  margin: auto;
}

.ProjectExperience {
  padding-top: 1.5rem;
}
.ProjectExperience h2 {
  text-align: center;
}
/* animation bar  */
.ani {
  width: 140px;
  height: 10px;
  margin: auto;
  background-color: rgb(236, 67, 95);
  border-radius: 5px;
}
/* styling experience part */
.Projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  row-gap: 5rem;
  column-gap: 3rem;
}

.Projtitle
{
  font-weight: bold;
  color: rgb(207, 4, 207);
  font-size: large;
  padding: 5px;
}
.source {
  background-color: #0665e2;
  color: white;
  padding: 6px;
  margin-right: 10px;
  margin-left: 3px;
  border-radius: 10px;
  font-size: 12px;
}
.demo {
  background-color: #e20a06;
  color: white;
  padding: 6px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 12px;
}

/* Work Experience  */
.Experience {
  text-align: center;
  padding-top: 2rem;
}

/* resume box  */
.resume-box {
  background: #ffffff;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
  border-radius: 10px;
}

.resume-box ul {
  margin: 0;
  padding: 30px 20px;
  list-style: none;
}

.resume-box li {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 30px;
}

.resume-box li:last-child {
  margin-bottom: 0;
}

.resume-box li:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  border-left: 1px dashed #fc5356;
  bottom: 0;
}

.resume-box .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  color: #fc5356;
  line-height: 40px;
  background: #ffffff;
  text-align: center;
  z-index: 1;
  border: 1px dashed;
  border-radius: 50%;
}

.resume-box .time {
  background: #fc5356;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
}

.resume-box h5 {
  font-weight: 700;
  color: #20247b;
  font-size: 16px;
  margin-bottom: 10px;
}

.resume-box p {
  margin: 0;
}

.resume-box li:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  border-left: 1px dashed #fc5356;
  bottom: 0;
}

.Readmore {
  margin-left: 55%;
  text-align: center;
  padding: 6px;
  background-color: #0665e2;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
}

.Readmore:hover {
  background-color: #5ee206;
}

/* google cloud badges  */
.googlecloud {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
#gcloud {
  width: 100%;
  margin: auto;
  height: auto;
}
.badge {
  width: 170px;
  height: 170px;
  overflow: hidden;
}
.badgeImage
{
  position: relative;
  width: 100%;
  height: auto;
}
.Hackerrank {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

/* coding badges  */

.hbadge-gold {
  width: 115px;
  height: 70px;
  background-color: #ffffff;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;  
}
/* Achivements  */
.Achievement {
  text-align: center;
}
.achiementsList {
  display: flex;
  flex-direction: row;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

/* flip card style  */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 250px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-back,
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  padding-top: 20px;
  background-color: rgb(235, 216, 13);
  color: black;
  border-radius: 0.7rem;
}

.flip-card-front p {
  text-align: left;
  padding-left: 20px;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
/* contact page in  */
.contact {
  text-align: left;
  padding-top: 2rem;
  background-color: #02044A;
  border-top: 50px solid #9DC4FB;
  border-bottom: 50px solid #9DC4FB;
  border-left: 20px solid #9DC4FB;
  border-right: 20px solid #9DC4FB;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.futureDetails {
  width: 300px;
  margin-left: 20%;
  text-align: left;
  color: white;
}

/* contact form details  */
.formitems {
  background-color: #3c43ff;
  padding: 1rem;
  border-radius: 1rem;
  width: max-content;
  margin-left: 20%;
  margin-bottom: 10px;
}


/* footer section  */
.footericons {
  width: 50px;
  height: 50px;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  width: max-content;
}

.socialhandles {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

#gmail {
  margin: 4px;
}

.byebye {
  height: 100px;
  width: 300px;
  background-color: white;
  margin: auto;
}
#bye {
  position: relative;
  width: 100%;
  height: auto;
}
.externalLinks {
  width: 150px;
  height: 200px;
  display: inline-block;
  border: 0px;
}

.externalLinks p {
  margin-top: 0%;
  width: fit-content;
  font-size: large;
}

.codingID {
  float: right;
  width: 150px;
  height: 200px;
  border: 0px;
  text-align: right;
}

.codingID p {
  margin-top: 0px;
  font-size: large;
}
